@import url("https://api.fontshare.com/v2/css?f[]=sentient@400&display=swap");

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.left-side-screen {
    background-image: url(image.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    justify-content: end;
}
.left-side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 43.5vh;
}
.logo {
    height:140px;
    width: 140px;
    margin-bottom: -50px;
}
.logo-background {
    justify-self: center;
    background-color: #140b0b7e;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.citation {
    color: white;
    width: 230px;
    padding: 3px;
}
.citation a {
    color: white;
}
.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-descript {
    font-family: 'Sentient', serif;
    color: #fff;
    margin-top: 0;
    padding-bottom: 10px;
    justify-self: flex-end;
}
.right-side-screen {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.paragraph-container {
    width: 60vw;
    height: 33%;
    background-color: rgba(57, 57, 57, 0.095);
    justify-content: center;
    align-items: center;
}
.paragraph {
    width: 50vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
    margin-left: 85px;
    padding-top: 65px;
}
.form-wrapper {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.406);
}
.form {
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    height: 33%;
}

.form p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
}
.form input {
    width: 100px;
    height: 30px;
    width: 300px;
    font-size: 18px;
}
.row {
    display: flex;
    gap: 90px;
}
.col {
  display: flex;
  flex-direction: column; 
  margin-bottom: 30px;   
}
label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(77, 77, 80);
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px 0px 85px;
    background-color: rgba(57, 57, 57, 0.095);
    height: 33%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cta a {
        color: grey;
}

button {
    background-color: black;
    color: white;
    height: 4rem;
    width: 21rem;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
}

input:invalid {
    border: 2px solid red;
}
input:focus {
    outline: none;
    border: 2px solid rgb(9, 0, 128);
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.314);
}
